/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	font-family: 'Work Sans';
	font-size: 0.875rem;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 149px 0;
}

section {
	margin: 50px 0;
}

.main-container {
	max-width: 1140px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: auto;
}

/* INDEX PAGE */
/* Edit banner */
.edit__banner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 59px;
	color: #FFF;
	font-size: 1rem;
	font-weight: 400;
	background-color: #000;
	gap: 10px;
}

.edit__banner__btn {
	height: 38px;
	background-color: #FFF;
	border-radius: 60px;
	border: none;
	padding: 11px 23px;
	margin-left: 11px;
	color: #000;
	font-family: 'Work Sans';
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}


/* Header */
h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.031rem;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 44px;
}

nav li,
nav a {
	display: flex;
	color: #000;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 0 10px;
	text-decoration: none;
}

nav .logout {
	display: none;
}

li img {
	width: 22px;
	height: 22px;
}

header li:hover,
header a:hover {
	color: #000;
	font-weight: 700;
	cursor: pointer;
}

/* Introduction section */
h2 {
	font-family: 'Syne';
	font-size: 1.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #1D6154;
}

#introduction {
	display: flex;
	align-items: center;
	margin: 50px 0 140px 0;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction figcaption {
	margin-top: 15px;
	margin-left: 57px;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 19px;
}

#introduction p {
	color: #3D3D3D;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 15px;
	width: 70%;
}

/* Portfolio section */
#portfolio h2 {
	text-align: center;
	/* margin-left: 11%; */
}

#portfolio .open__modal {
	align-items: center;
}

.projets {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-bottom: 50px;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

.filters button {
	color: #1D6154;
	font-family: 'Syne';
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: transparent;
	padding: 9px 11px;
	cursor: pointer;
}

.filters button:first-child {
	color: #FFF;
	background-color: #1D6154;
	padding: 9px 30px;
}

.filters button:nth-child(2) {
	padding: 9px 20px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption {
	font-size: 0.813rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 1px;
}

/* Contact section */
#contact {
	width: 50%;
	margin: auto;
}

#contact > *,
#login > * {
	text-align: center;
}

#contact h2 {
	margin-bottom: 9px;
}

#contact p {
	color: #3D3D3D;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#contact form,
#login form,
#add__works {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
#add__works input,
#add__works select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	color: #3D3D3D;
	font-size: 0.875rem;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	margin: 2.5rem 0 0.5rem 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
	font-family: 'Syne';
	font-size: 0.875rem;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2.5rem auto;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

/* Footer */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 0.875rem 2rem 2rem 2rem;
}

footer ul li {
	font-size: 0.875rem;
	font-weight: 300;
}

/* LOGIN PAGE */
header .current {
	font-weight: 600;
}

#login {
	width: 35%;
	margin: auto;
}

#login form > a {
	color: #3D3D3D;
	text-align: center;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#login input[type="submit"] {
	font-family: 'Syne';
	font-size: 0.875rem;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2.5rem auto 1.688rem auto;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

main {
	flex-grow: 1;
}

#login form .error {
	display: flex;
	justify-content: center;
	color: #B1663C;
	margin-top: 15px;
}

/* Modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal__wrapper {
	overflow: auto;
	background-color: #FFF;
	width: 630px;
	max-width: calc(100vw - 30px);
	max-height: calc(100vh - 25px);
	padding: 60px 0px 48px 0px;
	border-radius: 10px;
	position: relative;
	text-align: center;
}

.open__modal {
	display: flex;
	gap: 10px;
	color: #000;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	cursor: pointer;
}

.modal__close__btn {
	position: absolute;
	top: 26px;
	right: 30px;
	background: transparent;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

.modal__1 {
	width: 67%;
	margin: auto;
}

.modal__1 #modal__title {
	margin-bottom: 46px;
	color: #000;
	font-family: 'Work Sans';
	font-size: 1.625rem;
	font-weight: 400;
}

.modal__1 .modal__gallery {
	margin-bottom: 47px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 7px;
	text-align: left;
}

.modal__gallery img {
	width: 100%;
}

.modal__gallery figure {
	position: relative;
}

.modal__gallery figure > div {
	position: absolute;
	top: 7px;
	right: 7px;
	display: flex;
	gap: 3px;
}
.modal__gallery figure div > i {
	color: #FFF;
	font-size: 0.625rem;
	background-color: #000;
	border-radius: 2px;
	padding: 3px;
	cursor: pointer;
}

.modal__gallery figure div > .fa-arrows-up-down-left-right {
	display: none;
}

.modal__gallery figure:first-child div > .fa-arrows-up-down-left-right { 
	display: block;
}

.modal__gallery figcaption {
	font-size: 0.75rem;
	font-weight: 400;
}

.modal__1 .grey__line {
	color: #B3B3B3;
	width: 420px;
	height: 1px;
	margin-bottom: 38px;
}

.modal__1 button[type="submit"] {
	background-color: #1D6154;
	border: none;
	border-radius: 60px;
	text-align: center;
	color: #FFF;
	font-family: 'Syne';
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 10px 49px;
	margin-bottom: 23px;
	cursor: pointer;
}

.modal__1 .delete__gallery {
	color: #D65353;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}

.modal__2 .modal__arrow__btn {
	position: absolute;
	top: 27px;
	left: 30px;
	background: transparent;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

.modal__2 .modal__title {
	margin-bottom: 36px;
	color: #000;
	font-family: 'Work Sans';
	font-size: 1.625rem;
	font-weight: 400;
}

.modal__2 {
	width: 68%;
	margin: auto;
}

.modal__2 #add__works {
	display: flex;
	flex-direction: column;
	margin-bottom: 47px;
}

#add__works input#title,
#add__works select#category {
	padding: 0 16px;
	color: #444;
	font-weight: 400;
}

#add__works input#title {
	margin-bottom: 21px;
}


#add__works label:nth-child(2),
#add__works label:nth-child(4) {
	color: #3D3D3D;
	font-size: 0.875rem;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	margin-bottom: 10px;
}

.modal__2 #image__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	border-radius: 3px;
	background: #E8F1F6;
	margin-bottom: 30px;
}

#image__container > i {
	font-size: 3.625rem;
	padding: 22px 0 15px 0;
	color: #B9C5CC;
}

#image__container .add__image__btn {
	padding: 10px 33px;
	border: none;
	border-radius: 50px;
	background: #cbd6dc;
	color: #306685;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 7px;
	cursor: pointer;
}

#image__container .image__maxsize {
	color: #444;
	font-size: 0.625rem;
	font-weight: 400;
	margin-bottom: 19px;
}

#image__container .img__preview {
	display: none;
	width: 130px;
	height: 190px;
}

input[type="file"] {
	display: none;
}

.modal__2 .grey__line {
	color: #B3B3B3;
	width: 420px;
	height: 1px;
	margin-bottom: 32px;
}

.modal__2 #validate {
	background: #A7A7A7;
	border-radius: 60px;
	border: none;
	padding: 10px 49px;
	color: #FFF;
	font-family: 'Syne';
	font-weight: 700;
	width: 237px;
}
